.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  display: flex;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100%;
}

.container {
  display: flex;
}

.cards {
  margin: 25px 8rem;
  flex: 1;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  padding-top: 3rem;
  flex-flow: row wrap;
}